.content{
    border-radius: 5px;
    top:20px;
    display: flex;
    position:sticky;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0.9;
 
}
.content p{
    color:aliceblue;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.content span{
    color:aliceblue;
    margin-right: 15px;
    cursor: pointer;
    padding:0px 5px;
    border-radius:7px;
    transition: background-color 0.3s;
}

.content span:hover{
    background-color:rgba(255, 255, 255, 0.192);
}
