header{
    display:flex;
    align-items:center;
    padding: 6px 40px;
    background-color: #0F172A;
    color:#fff;
    justify-content:space-between;
    user-select: none;
}


nav{
    display: flex;
    gap: 30px;
}

.link{
    text-decoration: none;
    color:#fff
}

@media only screen and (max-width: 420px) {
    nav{
        font-size: 12px;
        gap: 15px;
    }
    header{
        flex-direction: column;
        padding: 20px 0;
    }
    h2{
        font-size:18px;
        margin-bottom: 40px;
    }
}

