button {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 20px;
    width: 250px;
    text-decoration: none;
    user-select: none;
    outline: none;
    color: #FFFFFF;
    border-radius: 28px;
    border: none;
    background: #64748B;
    transition: all .218s ease 0s;
  }
  button:hover {
    color: #000000;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background: #93C5FD;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    
  }
  button:active {
    color: #94A3B8;
    background: #E2E8F0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  }


    
@media only screen and (max-width: 420px) {
  button {
    width: 312px;
    padding: 15px;
  }
}





